@charset "utf-8";

/* reset */
html {-webkit-text-size-adjust: none; text-size-adjust: none;}
body {margin: 0;}
h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p {margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700;}
a {color: inherit; text-decoration: inherit;}
li {list-style: none;}
img {vertical-align: middle; max-width: 100%;}
address, em, i, cite {font-style: normal;}
table {border-collapse: collapse;}
table caption {overflow: hidden; width: 0; height: 0;}
i[class^="fa"] {position: relative; display: inline-block; vertical-align: middle; overflow: hidden;}
i[class^="fa"] span {position: absolute; left: -9999px;}
.ir-hidden {position: absolute; left: -9999px;}
.pc {display: none !important;}
br.only-pc {content: '';}
br.only-pc::after {content: '\00a0';}


/* common */
body {font-family: 'NanumSquare', sans-serif; font-size: 14px; color: #000000; background: #eeeeee;}

#wrapper {min-width: 320px; max-width: 770px; margin: 0 auto; overflow: hidden;}
#skip-nav {position: fixed; left: 0; top: -40px; width: 100%; line-height: 40px; text-align: center; background-color: rgba(0, 0, 0, 0.8); color: #ffffff; font-size: 16px; transition: top 0.3s; z-index: 100000;}
#skip-nav:focus {top: 0;}
#header {position: fixed; left: 0; top: 0; width: 100%; height: 60px; background-color: #ffffff; border-bottom: 1px solid #e5e5e5; box-sizing: border-box; z-index: 10000;}
#header h1 {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 234px;}
#mobile-menu a.menu img {position: absolute; width: 40px; height: 25px; left: 10%; top: 50%; transform: translate(-50%, -50%);}
#mobile-menu a img {position: absolute; width: 25px; height: 25px;  right: 0; top: 50%; transform: translate(-50%, -50%);}


#side-menu {display: none;}

#wrapper > a.top-button {position: fixed; z-index: 100000; left: 78vw; top: 80vh; border: 1px solid #555555; width: 60px; height: 60px; border-radius: 30px; text-align: center; background-color: #ffffff;}
#wrapper > a.top-button > img {position: relative; left: 0; top: 50%; transform: translate(0, -50%); width: 16px;}

#wrapper > div.quick-menu {display: none;}
#wrapper > div.mobile-quick-menu {position: fixed; z-index: 1000000; right: 0; bottom: 5vh; width: 200px; height: 350px;}
#wrapper > div.mobile-quick-menu > ul {}
#wrapper > div.mobile-quick-menu > ul > li {width: 200px; height: 65px; padding-top: 15px;}
#wrapper > div.mobile-quick-menu > ul > li.menu-open {margin: 25px 0 0 8px;}
#wrapper > div.mobile-quick-menu > ul > li > a > h5 {position: relative; transform: translate(-50%, 50%); left: 0; top: 50%; font-size: 16px; color: #ffffff; text-align: right;}
#wrapper > div.mobile-quick-menu > ul > li > a > div {width: 60px; height: 60px; position: relative; left: 55vw; top: 50vh; background-color: #ffffff; border-radius: 100px;}
#wrapper > div.mobile-quick-menu > ul > li > a > div.open-close {position: fixed; right: -30%; bottom: 50%; transform: translate(200%, 600%); background-color: #137DC3;}
#wrapper > div.mobile-quick-menu > ul > li > a > div.open-close > i {font-size: 20px; color: #ffffff; position: relative; left: 50%; top: 50%; transform: translate(-50%, -50%);}
#wrapper > div.mobile-quick-menu > ul > li:nth-child(1) {display: none;}
#wrapper > div.mobile-quick-menu > ul > li:nth-child(2) {display: none;}
#wrapper > div.mobile-quick-menu > ul > li:nth-child(3) {display: none;}



#gnb {display: block; position: absolute; top: 0; width: 100%; background-color: #ffffff; color: #000000; height: 100vh; overflow: auto; font-size: 16px; transition: left 0.3s;}
#gnb.open {left: 0;}
#gnb div.mobile-gnb {}
#gnb div.mobile-gnb > div.title {position: relative; width: 100%; height: 200px;}
#gnb div.mobile-gnb > div.title img.logo {position: absolute; width: 234px; left: 5%; top: 15%; transform: translate(0, -50%);}
#gnb div.mobile-gnb > div.title > a > img.close {position: absolute; width: 50px; right: 5%; top: 15%; transform: translate(0, -50%);}
#gnb div.mobile-gnb > div.title > div.login {position: absolute; width: 175px; height: 50px; border: 1px solid #333333; left: 5%; top: 60%; transform: translate(0, -50%);}
#gnb div.mobile-gnb > div.title > div.login > a > img {position: relative; width: 25px; height: 25px;  left: 50%; top: 50%; transform: translate(-50%, -50%);}
#gnb ul.sub-menu { position: relative; height: 70px; width: 100%;  z-index: 100000;}
#gnb ul.sub-menu > li {position: relative; float: left; width: 45%; height: 6vh; border-bottom: 1px solid #333333; font-size: 22px; left: 0; top: 50%; transform: translate(10%, -60%);}
#gnb ul.sub-menu > li + li {margin-left: 20px;}
#gnb ul.sub-menu > li > a {position: relative; display: inline-block; height: 100%; width: 100%; line-height: 54px;}
#gnb ul.sub-menu > li > a i {position: absolute; color: #999999; right: 0; top: 50%; transform: translate(0, -50%);}
#gnb ul.sub-menu > li > div.select.on {position: relative; left: 0; top: 0; font-size: 18px; background-color: #ffffff; border: 1px solid #e5e5e5; display: block;}
#gnb ul.sub-menu > li > div.select {position: relative; left: 0; top: 0; font-size: 18px; background-color: #ffffff; border: 1px solid #e5e5e5; display: none;}
#gnb ul.sub-menu > li > div.select > ul {width: 100%; padding: 10px;}
#gnb ul.sub-menu > li > div.select > ul > li {position: relative; width: 92%; background-color: #f6f6f6; top: 0; line-height: 65px;}
#gnb ul.sub-menu > li > div.select > ul > li + li {margin-top: 10px;}
#gnb ul.sub-menu > li > div.select > ul > li > a > span {font-size: 9px;}



#gnb > ul.pc-gnb {position: relative; margin-top: 35px;}
#gnb > ul.pc-gnb > li {padding-bottom: 10px; font-size: 25px;}
#gnb > ul.pc-gnb > li > a {display: inline-block; position: relative; width: 85%; height: 70px; background-color: #ffffff; line-height: 70px; margin-left: 30px;font-weight: 100; border-bottom: 1px solid #333333;}
#gnb > ul.pc-gnb > li.on > a > i {position: absolute; right: 0; top: 50%; transform: translate(0, -50%) rotate(180deg); color: #999999;}
#gnb > ul.pc-gnb > li > a > i {position: absolute; right: 0; top: 50%; transform: translate(0, -50%); color: #999999;}
#gnb > ul.pc-gnb > li.on > a {font-weight: 800;}
#gnb > ul.pc-gnb > li div.sub > div.content > div.title {display: none;}

#gnb > ul.pc-gnb > li div.sub > div.content > div.inner {position: relative; display: none;}
#gnb > ul.pc-gnb > li.on div.sub > div.content > div.inner {position: relative; display: block;}

#gnb > ul.pc-gnb > li div.sub > div.content > div.inner > ul {position: absolute; left: 16%; top: 0; z-index: 10000000; background-color: #ffffff; width: 75%; font-weight: 400;}
#gnb > ul.pc-gnb > li div.sub > div.content > div.inner > ul > li {position: relative; width: 100%; height: 6vh; line-height: 65px; border-bottom: 1px solid #555555;}
#gnb > ul.pc-gnb > li div.sub > div.content > div.inner > ul > li > a {display: block; line-height: 55px; padding-left: 30px; position: relative;}








/* main */
#main {position: relative; top: 0; left: 0;}
#main-visual {position: relative;}
#main-visual h2 {position: absolute; left: 50%; top: 40%; transform: translate(-50%, 50%); font-size: 24px; font-weight: 600; color: #ffffff; width: 280px; z-index: 100;}
#main-visual h2 > em {font-size: 32px; font-weight: 900;}
#main-visual div.slide-box {position: relative; width: 100%; height: 85vw; overflow: hidden;}
#main-visual div.slide-box div.box p.dummy {opacity: 0;}
#main-visual div.slide-box div.box ul.slide {position: absolute; left: 0; top: 0; width: 100%; height: 100%;}
#main-visual div.slide-box div.box ul.slide > li {position: absolute; left: 0; top: 0; width: 100%; height: 100%; display: none;}
#main-visual div.slide-box div.box ul.slide > li:first-child {display: block;}
#main-visual div.slide-box div.box ul.slide > li > img {max-width: 770px; height: 100%;}
#main-visual div.slide-box div.box div.indicator {position: absolute; left: 0; bottom: 5%; width: 100%; text-align: center;}
#main-visual div.slide-box div.box div.indicator > ul {display: inline-block; vertical-align: middle; margin-right: 5px;}
#main-visual div.slide-box div.box div.indicator > ul > li {float: left;} 
#main-visual div.slide-box div.box div.indicator > ul > li > a {display: block; width: 8px; height: 8px; background-color: none; border: 2.4px solid #ffffff; overflow: hidden; text-indent: -9999px; border-radius: 100px; transition: all 0.3s;}
#main-visual div.slide-box div.box div.indicator > ul > li.on a {width: 8px; background-color: #ffffff;}
#main-visual div.slide-box div.box div.indicator > ul > li + li {margin-left: 15px;}
#main-visual div.slide-box div.box div.indicator a.play {display: inline-block; width: 24px; height: 24px; border-radius: 100px; overflow: hidden; box-sizing: border-box; color: #ffffff; position: absolute; top: 3px; margin-left: 15px;}
#main-visual div.slide-box div.box div.indicator a.play i {display: block;}
#main-visual div.slide-box div.box div.indicator a.play i:first-child {display: none;}
#main-visual div.slide-box div.box div.indicator > a.play.on i:first-child {display: block;}
#main-visual div.slide-box div.box div.indicator > a.play.on i + i {display: none;}
#main-visual div.slide-box div.box p.control a {position: absolute; top: 55%; transform: translate(0, -50%); overflow: hidden; width: 50px; height: 100px; text-indent: -9999px;}
#main-visual div.slide-box div.box p.control a::before {content:''; position: absolute; left: 50%; top: 50%; width: 60px; height: 60px; box-sizing: border-box; border: 2px solid #ffffff; transform: translate(-50%, -50%) rotate(45deg); box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2), 2px 2px 5px 0 rgba(0, 0, 0, 0.2) inset;}
#main-visual div.slide-box div.box p.control a.prev {left: 0;}
#main-visual div.slide-box div.box p.control a.prev::before {left: calc(50% + 50px);}
#main-visual div.slide-box div.box p.control a.next {right: 0;}
#main-visual div.slide-box div.box p.control a.next::before {left: calc(50% - 50px);}


#season {background-color: #ffffff; left: 0; top: 0; position: relative; height: 730px;}
#season h3 {font-size: 34px; font-weight: 700; text-align: center; padding: 50px 0 2% 0; color: #222222;}
#season ul.title {position: absolute; width: 450px; left: 50%; top: 20%; transform: translate(-50%, 0); text-align: center;}
#season ul.title li {float: left; font-size: 20px; font-weight: 100; color: #555555; padding: 10px 10px; border: 1px solid #C7C7C7; line-height: 30px;}
#season ul.title li a {}
#season ul.title > li:hover {background-color: #137DC3; color: #ffffff; border: 1px solid #137DC3;}
 
#season ul.title li + li {margin-left: 10px;}

#season ul.title li div.inner-box {position: absolute; width: 4000px; height: 400px; left: 0; top: 80px;} 
#season ul.title li div.inner-box ul {position: absolute; left: 0; top: 0; width: 100%; padding-bottom: 30px; background-color: #ffffff; display: none;}
#season ul.title li div.inner-box.on ul {position: absolute; left: 0; top: 0; width: 100%; padding-bottom: 30px; background-color: #ffffff; display: block; }
#season ul.title li div.inner-box ul li {float: left; width: 80vw; height: 40vh; border: none; margin-left: 0;}
#season ul.title li div.inner-box ul li img {width: 100%; height: 100%}
#season ul.title li div.inner-box ul li a div.hover {display: none;}
#season ul.title li div.inner-box ul li a h5 {padding: 10px 0; font-size: 25px; font-weight: 600; color: #333333; text-align: left;}
#season ul.title li div.inner-box ul li a p {font-size: 16px; color: #000000; text-align: left; }


#banner {position: relative; width: 100%; height: 15vh; top: 0; background-color: #ffffff;}
#banner ul {position: absolute; width: 5000px; top: 50%; left: 3%;}
#banner ul li {float: left; width: 80vw; height: 10vh;}
#banner ul li + li {margin-left: 20px;}
#banner p.control {display: none;}
#banner div.slide-box > div.box-inner p.dummy {opacity: 0;}


#shopping {position: relative; height: 130vh; width: 100vw; padding-top: 80px; background-color: #ffffff;}
#shopping h3 {font-size: 34px; font-weight: 750; text-align: center; padding-bottom: 30px; color: #222222;}
#shopping div.top5 {position: relative; width: 100%; height: 100%; left: 0; top: 0; }
#shopping div.top5 ul {position: absolute; width: 90%; height: 100%; left: 49%; top: 0; transform: translate(-50%, 0);}
#shopping div.top5 ul li {float: left; width: 43vw; height: 35vh; margin-left: 2vw; }
#shopping div.top5 ul li img {width: 100%; height: 60%;}
#shopping div.top5 ul li.top1 {float: left; width: 98%; height: 45vh; margin-bottom: 30px;}
#shopping div.top5 ul li.top1 img {width: 100%; height: 80%;}
#shopping div.top5 ul li div.detail {padding-top: 15px;}
#shopping div.top5 ul li div.detail h4 {color: #333333; font-size: 20px;}
#shopping div.top5 ul li div.detail p {color: #333333; font-size: 20px; font-weight: 350; padding-top: 10px;}
#shopping div.top5 ul li div.hover {display: none;}



#festival {position: relative; background-color: #f4f4f4; height: 65vh;}
#festival h3 {font-size: 34px; font-weight: 750; text-align: center; padding: 50px 0 10px 0; color: #222222; margin-bottom: 20px;}
#festival ul {position: absolute; max-width: 770px; height: 80%; overflow: hidden; left: 1%; padding-right: 10px; }
#festival ul li {float: left; width: 30vw; height: 100%; }
#festival ul li div {position: absolute; background-color: #f4f4f4; width: 100%; height: 30%; z-index: 10; margin-left: 5px; padding-left: 10px;}
#festival ul li + li {padding-left: 18px;}
#festival ul li a img {width: 100%; left: 50%; top: 0; transform: translate(8%, 0);}
#festival ul li div em {position: absolute; padding: 10px; background-color: #e5e5e5; top: 70%;}
#festival ul li div p {font-size: 22px; width: 30vw; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; padding-top: 20px;}
#festival ul li p + p {font-size: 15px; width: 30vw; padding-top: 20px; }
#festival p.control {display: none;}



#hotplace {position: relative; width: 100%; height: 160vh; background-color: #ffffff;}
#hotplace h3 {font-size: 34px; font-weight: 750; text-align: center; color: #222222; padding: 80px 0 30px 0;}
#hotplace div.content {position: absolute; height: 100%;}
#hotplace div.content div.map {display: none;}

#hotplace div.map-info div.inner-box {position: relative; margin: 0 40px; height: 100%;}
#hotplace div.map-info div.inner-box ul.tab-box {position: relative; width: 5000px; height: 100%;}
#hotplace div.map-info div.inner-box ul.tab-box > li {float: left; width: 75vw; height: 100%; padding-bottom: 20px; margin-right: 15px; background-color: #137DC3;}

#hotplace div.map-info div.inner-box ul.tab-box li div.hover {display: none;}
#hotplace div.map-info div.inner-box ul.tab-box li h4 {font-size: 38px; color: #ffffff; left: 15px; top: 0; position: relative; padding: 30px 0; }
#hotplace div.map-info div.inner-box ul.tab-box li ul.inner {}
#hotplace div.map-info div.inner-box ul.tab-box li ul.inner li {position: relative; height: 15vh; }
#hotplace div.map-info div.inner-box ul.tab-box li ul.inner li h5 {width: 90%; position: relative; top: -20%; left: 35%; transform: translate(0, -220%); font-size: 26px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color: #ffffff; font-weight: 600;}
#hotplace div.map-info div.inner-box ul.tab-box li ul.inner li img {position: relative; width: 20vw; height: 12vh; left: 20px; top: 0; transform: translate(0, 12%); }
#hotplace div.map-info div.inner-box ul.tab-box li ul.inner li p {position: relative; top: 0; left: 35%; transform: translate(0, -135%); width: 60%; height: 40%; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; padding-top: 5px; font-size: 24px; color: #ffffff; font-weight: 200; }


#hotplace div.more_info {position: relative; height: 50vh; left: 0; top: 35%;}
#hotplace div.more_info ul {position: relative; width: 100%; height: 50vh; left: 60%; top: 20%; transform: translate(-50%, 30%);}
#hotplace div.more_info ul li {width: 80%; height: 15%; margin-bottom: 60px;}

#hotplace div.more_info ul li a {position: relative; height: 100px;}
#hotplace div.more_info ul li a img {height: 100px;}
#hotplace div.more_info ul li a h4 {height: 30px; width: 200px; position: absolute; font-size: 22px; color: #ffffff; left: 0%; top: 30%; transform: translate(0, -30%); font-weight: 400; padding-left: 25px;}
#hotplace div.more_info ul li a > p {display: inline-block; position: absolute; right: 5%; top: 30%; transform: translate(0, -40%);   border: 1px solid #ffffff; background-color: #ffffff; font-size: 16px; padding: 6px 16px 6px 16px; box-sizing: border-box; }



#tv {position: relative; top: 0; width: 100%; height: 80vh; background-color: #ffffff;}
#tv h3 {font-size: 34px; font-weight: 750; text-align: center; color: #222222; padding-bottom: 30px;}
#tv ul li a img.youtube {width: 100%; height: 50%;}
#tv div.media {position: relative; width: 100%; height: 100%; }
#tv div.media ul {position: absolute; width: 100%; height: 50vh; left: 10%; top: 0;}
#tv div.media ul li {float: left; width: 40%; height: 70%; margin-right: 20px;}
#tv div.media ul li a h4 {font-size: 22px; font-weight: 400; padding-top: 10px; width: 30vw; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
#tv div.img_detail {font-size: 18px; display: block; position: absolute; color: #333333; padding: 10px 0 20px 0; width: 35vw; }

#tv div.img_detail p.sub-title {display: none;}
#tv div.img_detail img {float: left; padding: 0 15px 5px 0px;}
#tv div.img_detail p {line-height: 25px; padding: 0 15px 5px 0px;}


#footer {position: relative; width: 100%; height: 850px; background-color: #666666;}
#footer div.top-footer {display: block; height: 100px; background-color: #3e3e3e; color: #ffffff;}
#footer div.top-footer ul {position: absolute; width: 100%; height: 49px; font-size: 14px; font-weight: 100;}
#footer div.top-footer ul.others {left: 0; top: 0; line-height: 50px; border-bottom: 1px solid #525252;}
#footer div.top-footer ul.others li {float: left; position: relative; left: 20px; height: 49px;} 
#footer div.top-footer ul.others li + li::before {content: '|'; padding: 0 15px 0 15px;}
#footer div.top-footer ul.sns {left: 0; top: 50px; line-height: 50px;}
#footer div.top-footer ul.sns li {float: left; position: relative; width: 25px; height: 49px; left: 20px;}
#footer div.top-footer ul.sns li + li {padding-left: 31px;}
#footer div.top-footer ul.sns li:nth-child(1) {width: 10px; height: 21px;}
#footer div.top-footer ul.sns li:nth-child(2) {width: 19px; height: 19px;}
#footer div.top-footer ul.sns li:nth-child(3) {width: 25px; height: 20px;}

#footer div.main-footer {display: block; position: relative; height: 620px; background-color: #525252;}
#footer div.main-footer ul.footer-middle {position: absolute; max-width: 770px; padding-top: 40px;}
#footer div.main-footer ul.footer-middle li {float: left; position: relative; left: 20px;}
#footer div.main-footer ul.footer-middle li.address {width: 168px;}
#footer div.main-footer ul.footer-middle li.address address h4 {font-size: 18px; color: #ffffff; padding-bottom: 15px;}
#footer div.main-footer ul.footer-middle li.address address a img {width: 167px; height: 31px; padding-right: 20px;}
#footer div.main-footer ul.footer-middle li.address address p {position: absolute; margin-top: 20px; color: #ffffff; width: 350px;}

#footer div.main-footer ul.footer-middle li.inquiry {width: 175px; height: 255px; left: 10px; top: 140px; transform: translate(-100%, 0);}

#footer div.main-footer ul.footer-middle li.inquiry a {position: relative;}
#footer div.main-footer ul.footer-middle li.inquiry p {padding: 10px 0 5px 0;}

#footer div.main-footer ul.footer-middle li.inquiry a h4 {font-size: 18px; color: #ffffff; display: inline-block;}
#footer div.main-footer ul.footer-middle li.inquiry a img {width: 12px; left: 1%; bottom: 5%; transform: translate(0, -35%);}
#footer div.main-footer ul.footer-middle li.inquiry ul li {color: #ffffff; margin-top: 40px;}
#footer div.main-footer ul.footer-middle li.inquiry ul li a.email {text-decoration: underline;}
#footer div.main-footer ul.footer-middle li.inquiry ul li p.number {font-size: 30px; color: #cbcbcb; font-weight: 1000;}




#footer div.main-footer ul.footer-middle li.mobile-app {top: 200px; width: 220px;}
#footer div.main-footer ul.footer-middle li.mobile-app h4 {font-size: 18px; color: #ffffff; display: inline-block;}
#footer div.main-footer ul.footer-middle li.mobile-app a img {height: 38px; margin-top: 10px;}




#footer div.bottom-footer {bottom: 0; left: 0; position: relative; width: 100%; height: 130px; border-top: 1px solid #707070; background-color: #525252;}
#footer div.bottom-footer div.inner {position: relative; width: 1200px; left: 20px; top: 0; }
#footer div.bottom-footer p {padding: 20px 0 20px 0; font-size: 14px; color: #ffffff;}
#footer div.bottom-footer ul {position: absolute; }
#footer div.bottom-footer ul li {position: relative; float: left; height: 71px; line-height: 45px;}

#footer div.bottom-footer ul li:nth-child(1) {width: 60px; height: 43px;}
#footer div.bottom-footer ul li:nth-child(2) {width: 25px; padding-left: 20px;}
#footer div.bottom-footer ul li:nth-child(3) {width: 25px; padding-left: 20px;}




/* sub-edtiors_pink */
body.sub #main {font-family: 'NotoSansKR''Tangerine', sans-serif, serif; font-size: 14px; color: #666666; background: #ffffff;}

#sub_main-visual {position: relative; top: 60px;}
#sub_main-visual > div {width: 1920px; height: 412px;}
#sub_main-visual > div > img {width: 100%; height: 412px;}
#sub_main-visual h2 {position: absolute; left: 10%; bottom: 20%; font-size: 42px; transform: translate(-8%, 30%); font-weight: 600; color: #ffffff; z-index: 10;}
#sub_main-visual > div > div.black-bar {position: absolute; width: 90%; height: 40px; background-color: rgba(0, 0, 0, 0.7); left: 50%; bottom: 12px; transform: translate(-50%, 0);}



#post {position: relative; top: 60px; height: 3150px; width: 100%;}

#post ul.top {position: absolute; width: 1200px; left: 5%; top: 0; padding: 25px 0; font-size: 16px;}
#post ul.top li i {color: #000000; font-size: 18px; top: -2px;}
#post ul.top li {float: left;}
#post ul.top li + li::before {content: '>'; padding: 0 10px; }
#post ul.top li h3 {position: absolute; left: 10%; top: 33%; font-size: 18px;}
#post div.sub {position: absolute; top: 60px; left: 5%;}
#post div.sub ul li {position: relative; float: left; top: 10px; width: 70px;}
#post div.sub ul li a:focus p {color: #137DC3; font-weight: 800;}
#post div.sub ul li + li::before {content: '|';}
#post div.sub ul li + li p {position: relative; margin-left: 15px; top: -17px;}

#post div.search {position: absolute; width: 250px; height: 50px; left: -60%; top: 35px; text-align: right; font-weight: 100; }
#post div.search a {box-sizing: border-box;}
#post div.search a span {position: relative; top: 10px; font-size: 14px; border: 1px solid #767676; padding: 7px 20px 7px 20px; border-radius: 5px;}
#post div.search a span.on {background-color: #137DC3; color: #ffffff;}
#post div.search span i {top: -1px; margin-right: 5px; font-size: 14px;}
#post div.search div.search-box { position: absolute; width: 770px; height: 178px; left: -381%; top: 50px; z-index: 100000; border: 1px solid #767676; background-color: #f6f6f6;}
#post div.search div.search-box div.inner input {width: 600px; height: 30px; border: none; padding-left: 10px;}
#post div.search div.search-box div.inner {width: 700px; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}
#post div.search div.search-box div.inner span {position: relative; right: 0; top: 2px; margin-left: 15px; padding: 7px 20px 7px 20px; background-color: #555555; color: #ffffff;}

#post div.post-list {position: relative; width: 770px; height: 1500px; top: 140px;left: 5%; z-index: 0;}
#post div.post-list > ul {position: absolute; top: 0;}
#post div.post-list > ul > li {float: left; width: 443px; height: 230px;}
#post div.post-list > ul > li + li {margin-top: 110px;}
#post div.post-list > ul > li > a > div.img { width: 443px; height: 210px; overflow: hidden; border-radius: 3px;}
#post div.post-list > ul > li > a > div.detail {position: relative; width: 423px; height: 150px; top: -30px; left: 0; margin-left: 10px; background-color: #ffffff; border-radius: 5px;}
#post div.post-list > ul > li > a > div.detail:hover {top: -80px; transition: all 0.5s;}
#post div.post-list > ul > li > a > div.detail:hover h4 {color: #137DC3;}

#post div.post-list > ul > li > a > div.detail h4 {font-size: 20px; color: #222222; padding: 15px 0 10px 10px; width: 440px; font-weight: 800;}
#post div.post-list > ul > li > a > div.detail p {padding: 0px 0 10px 10px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; width: 390px; height: 28px; font-size: 15px;}

#post div.post-list > ul > li > a > div.detail div {position: relative; width: 26px; height: 26px; margin: 15px 0 0 380px;  border: 1px solid #137DC3; border-radius: 100px; background-color: #137DC3;}
#post div.post-list > ul > li > a > div.detail div > i {top: 5px; left: 7px; color: #ffffff;}

#post ul.page-indicator {position: absolute; width: 770px; height: 28px; left: 50%; bottom: 5%; transform: translate(-50%, 0);}

#post ul.page-indicator li {float: left; position: relative; width: 28px; height: 28px; font-size: 10px; border-radius: 100px; left: 26%; top: 0;}
#post ul.page-indicator li p {position: relative; top: 8px; left: 11px; font-size: 12px;}
#post ul.page-indicator li.on { background-color: #666666; color: #ffffff;}
#post ul.page-indicator li + li {margin-left: 15px;}
#post ul.page-indicator li.prev {border: 1px solid #666;}
#post ul.page-indicator li.next {border: 1px solid #666;}
#post ul.page-indicator li.less i {top: 4px; left: 9px; font-size: 20px;}
#post ul.page-indicator li.more i {top: 4px; left: 5px; font-size: 20px;}























/* animation keyframes */
/*
@keyframes show-up {
  0% {transform: translate(0, 50px); opacity: 0;}
  100% {transform: translate(0, 0); opacity: 1;}
}
@keyframes show-up2 {
  0% {transform: translate(-50%, 50px); opacity: 0;}
  100% {transform: translate(-50%, 0); opacity: 1;}
}
@keyframes btn-effect-right {
  0% {transform: translate(0, 0);}
  100% {transform: translate(5px, 0);}
}

#main-visual ul.slide li.on em {animation: show-up 1.5s ease-out 1s 1 normal forwards;}
*/

